<link
	href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet" />
<app-header-hologron [hologronMyData]="hologronPersonal"></app-header-hologron>
<mat-tab-group
	mat-stretch-tabs
	class="example-stretched-tabs mat-elevation-z4"
	[ngStyle]="{
		textAlign: 'center',
		'background-color': '#4040a1',
		height: '80vh',
	}">
	<mat-tab>
		<ng-template mat-tab-label>
			<p
				[ngStyle]="{
					color: 'ghostwhite',
					'font-size': '18px'
				}">
				My Book List - Hologron
			</p>
			<mat-icon
				aria-hidden="false"
				aria-label="book icon"
				fontIcon="menu_book"
				[ngStyle]="{
					color: 'ghostwhite',
					'margin-left': '10px'
				}"></mat-icon>
		</ng-template>
		<app-books-hologron
			[myBooks991702256]="hologronBooks"></app-books-hologron>
	</mat-tab>
	<mat-tab>
		<ng-template mat-tab-label>
			<p
				[ngStyle]="{
					color: 'ghostwhite',
					'font-size': '18px'
				}">
				Campus Info - Hologron
			</p>
			<mat-icon
				aria-hidden="false"
				aria-label="school icon"
				fontIcon="account_balance"
				[ngStyle]="{
					color: 'ghostwhite',
					'margin-left': '10px'
				}"></mat-icon>
		</ng-template>
		<app-campus-hologron
			[campusData991702256]="hologronCampus"></app-campus-hologron>
	</mat-tab>
</mat-tab-group>
<app-footer-hologron [hologronMyData]="hologronPersonal"></app-footer-hologron>
