<table
	mat-table
	[dataSource]="myBooks991702256"
	class="mat-elevation-z8"
	[ngStyle]="{
		'background-color': '#fefbd8'
	}">
	<ng-container matColumnDef="authorName">
		<th
			mat-header-cell
			*matHeaderCellDef
			[ngStyle]="{ 'font-weight': 'bold', 'font-size': '18px' }">
			Author
		</th>
		<td
			mat-cell
			*matCellDef="let x"
			[ngStyle]="{ 'font-size': '16px' }">
			{{ x.authorName }}
		</td>
	</ng-container>
	<ng-container matColumnDef="bookTitle">
		<th
			mat-header-cell
			*matHeaderCellDef
			[ngStyle]="{ 'font-weight': 'bold', 'font-size': '18px' }">
			Title
		</th>
		<td
			mat-cell
			*matCellDef="let x"
			[ngStyle]="{ 'font-size': '16px', 'font-style': 'italic' }">
			{{ x.bookTitle }}
		</td>
	</ng-container>
	<ng-container matColumnDef="published">
		<th
			mat-header-cell
			*matHeaderCellDef
			[ngStyle]="{ 'font-weight': 'bold', 'font-size': '18px' }">
			Published
		</th>
		<td
			mat-cell
			*matCellDef="let x"
			[ngStyle]="{ 'font-size': '16px' }">
			{{ x.published }}
		</td>
	</ng-container>
	<tr
		mat-header-row
		*matHeaderRowDef="displayedColumns"></tr>
	<tr
		mat-row
		*matRowDef="let row; columns: displayedColumns"></tr>
</table>
