<link
  href="https://fonts.googleapis.com/icon?family=Material+Icons"
  rel="stylesheet"
/>

<mat-tab-group
  mat-stretch-tabs
  class="example-stretched-tabs mat-elevation-z4"
  [ngStyle]="{ textAlign: 'center' }"
>
  <mat-tab>
    <ng-template mat-tab-label>
      Tab #1 / hologron (991702256)
      <mat-icon
        aria-hidden="false"
        aria-label="home icon"
        fontIcon="home"
      ></mat-icon>
    </ng-template>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      Tab #2 / hologron (991702256)
      <mat-icon
        aria-hidden="false"
        aria-label="circle icon"
        fontIcon="circle"
      ></mat-icon>
    </ng-template>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      Tab #3 / hologron (991702256)
      <mat-icon
        aria-hidden="false"
        aria-label="star icon"
        fontIcon="star"
      ></mat-icon>
    </ng-template>
  </mat-tab>
</mat-tab-group>
