/* You can add global styles to this file, and also import other style files */

body {
	margin: 0;
	font-family: Roboto, 'Helvetica Neue', sans-serif;
}

app-header-hologron {
	text-align: center;
	color: whitesmoke;
}

app-header-hologron h3 {
	background-color: #36486b;
	padding: 10px;
	margin: 0;
}

app-footer-hologron {
	text-align: center;
	color: whitesmoke;
}

app-footer-hologron h3 {
	background-color: #36486b;
	padding: 10px;
	margin: 0;
}
