<link
	href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet" />
<h3
	[ngStyle]="{
		color: 'red',
		'background-color': 'blue',
		'text-align': 'center'
	}">
	Directives/Examples
</h3>

<mat-tab-group
	mat-stretch-tabs
	class="example-stretched-tabs mat-elevation-z4"
	[ngStyle]="{ textAlign: 'center' }">
	<mat-tab>
		<ng-template mat-tab-label>
			Tab #1 / Directives-Part01
			<mat-icon
				aria-hidden="false"
				aria-label="pages icon"
				fontIcon="pages"></mat-icon>
		</ng-template>
		<app-directives01 [personalData]="personal" />
	</mat-tab>
	<mat-tab>
		<ng-template mat-tab-label>
			Tab #2 / Directives-Part02
			<mat-icon
				aria-hidden="false"
				aria-label="stream icon"
				fontIcon="stream"></mat-icon>
		</ng-template>
		<app-directives02
			[personalData]="personal"
			[testData]="teststudent" />
	</mat-tab>
</mat-tab-group>
